html {
    background-color: #d9d9d9;
}

body {
    background-color: #d9d9d9;
}

.main {
    margin: 0 auto;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
}

.crimson-pro-font {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.contrail-one-regular {
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.times-new-roman-classic {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 450px 280px;
    justify-content: center;
    grid-gap: 50px;
}

.right {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 280px 450px;
    justify-content: center;
    grid-gap: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #D9D9D9;
    text-decoration: none;
    margin-bottom: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    height: 100px;
}

.nav-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-nav {
    border-bottom: 1px solid black;
    width: 810px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

.table-header {
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    margin-top: 5px;
}

.table-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.td-achievement {
    width: 400px;
    height: 50px;
}

.line-footer {
    border-top: 10px solid #404040;
    border-bottom: 3px solid #404040;
    width: 812px;
    height: 20px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.line-footer-bot {
    border-bottom: 10px solid #404040;
    border-top: 3px solid #404040;
    width: 812px;
    height: 20px;
}