html {
    background-color: white;
}

body {
    background-color: #d9d9d9;
}

.main {
    margin: 0 auto;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
}

.crimson-pro-font {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.title1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 2px;
}

.left {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 450px 280px;
    justify-content: center;
    grid-gap: 50px;
}

.right {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 280px 450px;
    justify-content: center;
    grid-gap: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9D9D9;
    text-decoration: none;
    margin-bottom: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    padding: 20px 400px;
    margin: 0px;
}

.test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    height: 100px;
}

.nav-test {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 0 50px;
    margin: 0 260px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.header-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-header {
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    margin-top: 5px;
}

.table-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}